*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
    font-family: "FuturaNew", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.header {
    width: 100%;
    /*height: 100vh;*/
    padding: 55px 0 43px;
    background-image: url('../img/bg88.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
}
.header_page {
    padding: 90px 0 90px;
}
.header__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(29,29,29,0.22);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.header__content {
    width: 280px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
.header__form {
    margin-top: 0;
}
.header__form .header__title.t2 {
    margin: 0 0 26px;
}
.logo {
    width: 257px;
    height: 28px;
    margin: 0 auto;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
}
.header__title.t2 {
    margin: 24px 0 26px;
}
.header__title.t3 {
    margin: 0 0 20px;
}
.header .progress {
    height: 10px;
}
.footer {
    padding: 20px 0;
}
.footer-link {
    display: block;
    padding: 18px 0 16px;
    text-align: center;
}
.footer-link a {
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.bullets {
    background-color: #eaeaea;
    padding: 10px 0 50px;
}
.bullet {
    text-align: center;
    margin-top: 40px;
}
.bullet__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin-bottom: 30px;
}
.bullet__title {
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 700;
}
.bullet__text {
    color: #404040;
    font-size: 16px;
}
.blocktext {
    padding: 68px 0 100px;
}
.t1 {
    color: #2c2c2c;
    font-weight: 700;
    text-transform: uppercase;
}
.t2 {
    color: #2c2c2c;
    font-weight: 700;
}
.t3 {
    color: #fff;
    font-weight: 500;
}
.t4 {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
p {
    color: #404040;
}
.p {
    color: #404040;
    margin: 0 0 0 0;
}
a {
    color: #004a88;
}
.bg-custom1 {
    background-color: #4ca9ee!important;
    border-radius: .25rem;
}
.ul-btn-1 {
    display: block;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #404040;
    border-radius: 28px;
    padding: 14px 30px;
    position: relative;
}
.ul-btn-1.checked {
    color: #fff;
    background-color: #4ca9ee;
}
.ul-btn-1:hover {
    color: #fff;
    background-color: #3099e7;
}
.ul-btn-1:active {
    color: #fff;
    background-color: #078aeb;
}
.ul-btn-1:disabled {
    color: #404040;
    background-color: #d6d6d6;
}
.ul-btn-1 .icon-arrow-left {
    position: absolute;
    left: 21px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
}
.ul-btn-1 .icon-arrow-right {
    position: absolute;
    right: 21px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
}
.ul-btn-2 {
    display: block;
    width: auto;
    height: 54px;
    background-color: #4ca9ee;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 28px;
    padding: 14px 60px;
    position: relative;
}
.ul-btn-2:hover {
    color: #fff;
    background-color: #3099e7;
}
.ul-btn-2:active {
    color: #fff;
    background-color: #078aeb;
}
.ul-btn-2:disabled {
    color: #6389a9;
    background-color: #a3c3db;
}
.ul-btn-2 .icon-arrow-left {
    position: absolute;
    left: 21px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
}
.ul-btn-2 .icon-arrow-right {
    position: absolute;
    right: 21px;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
}
.ul-btn-2_mini {
    padding: 14px 26px;
}
.ul-btn-2.ul-btn-2_mini .icon-arrow-left {
    left: 21px;
}
.ul-btn-2.ul-btn-2_mini .icon-arrow-right {
    right: 21px;
}
.ul-btn-3 {
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    background-color: #fff;
    border-color: #d6d6d6;
    border-radius: 20px;
    padding: 6px 30px;
}
.ul-btn-3:hover {
    border-color: #ededed;
    background-color: #ededed;
}
.ul-btn-3:active {
    border-color: #e7e7e7;
    background-color: #e7e7e7;
}
.form-group_13 {
    margin-bottom: 13px;
}
.form-group_27 {
    margin-bottom: 27px;
}
.form-control {
    border-radius: 2rem;
    padding: .375rem 1.5rem;
    min-height: 54px;
    border: 2px solid transparent;
}
.form-control:focus {
    border-color: #73bbf8;
    box-shadow: none;
}
.form-control.success {
    border-color: #e8ff3a;
}
.form-control.error {
    border-color: #ff6262;
    color: #ff6262;
}
.form-control_select {
    padding: .375rem .9rem;
    background: #fff url('../img/arrow-down.svg') no-repeat right .9rem center;
    background-size: 12px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-date {
    height: 54px;
    position: relative;
}
.input-date:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #eaeaea;
    color: #404040;
    border-radius: 25px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 10;
}
.input-date__icon {
    width: 22px;
    height: 22px;
    font-size: 22px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 16px;
    z-index: 20;
}
.input-date__input {
    padding-left: 69px;
}
.custom-control-label {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.custom-control-label::before {
    background-color: #4ca9ee;
}
.custom-control-label::after {
    background-size: 60% 60%;
}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #4ca9ee;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../img/ok.svg');
}
.popover.error {
    background-color: #ff6262;
}
.popover.error .popover-body {
    color: #fff;
}
.popover.error.bs-popover-auto[x-placement^=bottom] .arrow::after,
.popover.error.bs-popover-bottom .arrow::after {
    border-bottom-color: #ff6262;
}
.page {
    margin-top: 30px;
}
.modal_ul .modal-header .close .icon-close {
    color: #d6d6d6;
    font-size: 11px;
}
.modal_ul .modal-content {
    border-radius: 0;
    border: none;
}
.modal_ul .modal-title {
    font-size: 19px;
    font-weight: 700;
}
.modal_ul .modal-header,
.modal_ul .modal-footer {
    border-color: #e4e4e4;
}
.modal_ul .modal-header,
.modal_ul .modal-body,
.modal_ul .modal-footer {
    padding: 1rem 2rem;
}